 .body {
     margin: 0;
     /* font-family: "Pacifico", cursive; */
     font-family: "Roboto", sans-serif;
 }

 .header {
     background-color: #f9d3b8;
     border: 1px #000000;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 5px 50px;

 }

 .base {
     padding: 5px;
 }

 .header-links a {
     color: black;
     padding: 10px 15px;
     text-decoration: none;
     border-radius: 25px;
 }

 .header-links a:hover {
     color: red;
     background-color: #ffefe4;
 }

 .btn {
     color: white;
     background-color: #ff5314;
     padding: 5px 15px;
     border-radius: 25px;
     border: none;
 }

 .btn:hover {
     color: black;
     background-color: #ff4500;
 }

 .landing-page {
     background-color: #f9d3b8;
     display: flex;
     justify-content: space-between;
     padding: 5px 50px;
     align-items: center;
     border-radius: 0 0 50px 50px;


 }
 .landing-page-marg
{
    margin: 0px;
}

 .landing-page-left-section {
     width: 500px;
 }

 .landing-page-search input {
     border-radius: 50px;
     border: none;
     outline: none;
     height: 30px;
     padding: 0 10px;

 }

 .landing-page-search button {
     position: absolute;
     left: 200px;
     outline: none;
     height: 30px;

 }

 .landing-page-image img {
     border-radius: 20px;
     width: 300px;
 }

 .Trending-container {
     padding: 50px 50px;

 }
 .Trending-container span{
    color: #F3C4D1;
    text-transform: uppercase;

 }

 .Trending-header {
     justify-content: space-between;
     align-items: center;
     display: flex;
 }
 
 .Trending-header h1{
    margin: 0px;
 }
 .Trending-cards{
    display: flex;
    gap: 12px;
 }
 .card{
    

     width: 200px;
    background-color: #EEEEEE;
    border-radius: 20px;
 }
 .card .thumb{
    border-radius: 20px 20px 0 0;

 }
 .card-info{
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
    align-items: center;
    border-radius: 0 0 20px 20px;

 }
 
 .card-info img{
    width: 30px;
 }
 
 